*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties



# =========================
# Android / Android Studio
# =========================
.gradle/
.idea/
/.settings/
/captures/
/.externalNativeBuild/
/cxx/
/build/
/*/build/

# Google Services (NO subir claves reales)
app/google-services.json

# Logs
*.log

# =========================
# Node.js (para tu API)
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.env
.env.*.local

# =========================
# Sistema operativo
# =========================
Thumbs.db

# =========================
# Otros
# =========================
/out/
/dist/
/tmp/
