<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permisos Esenciales -->
    <uses-permission android:name="android.permission.INTERNET" />


    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- Permisos de Almacenamiento/Multimedia -->
    <!-- Para Android 13 (API 33) y superior -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!-- Para Android 12 (API 32) e inferior (maxSdkVersion IMPORTANTE) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- Si también permitieras seleccionar videos: -->
    <!-- <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" /> -->

    <!-- Permiso de Ubicación (si lo usas para el mapa) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />




    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HearMe"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAEu4xz1YOueLEzIFfEgNC5dU6EX-HNkUM" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.example.hearme.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.HearMe">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>